{% extends "layout.html" %}

{% block title %}
    Add Job Application
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="job_title" placeholder="Job Title" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="company" placeholder="Company Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="salary" placeholder="Salary" type="number">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="date" placeholder="Date Applied" type="date">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="location" placeholder="Location" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="notes" placeholder="Notes - Optional" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Job</button>
    </form>
{% endblock %}